* {
  margin: 0;
  padding: 0;
  outline: 0;
}
/*body 태그 css*/
body {
  font-size: 12px;
  line-height: 1.3;
  font-family: Arial, Helvetica, Sans-Serif;
  color: #ccc;
  background: url('images/body-bg.gif');
}
/*a 태그 css*/
a {
  color: #e7b038;
  text-decoration: underline;
  cursor: pointer;
}
/*a 태그 css*/
a:hover {
  text-decoration: none;
}
/*a 태그 안의 img 태그 css*/
a img {
  border: 0;
}

/*"로그인/회원가입" 위치 설정*/
.text-right {
  text-align: right;
}
/*"최신 트레일러" 색상 설정*/
h2 {
  font-size: 10px;
  color: #f2a223;
  font-weight: bold;
}

/*전체 폭 설정*/
#shell {
  width: 980px;
  margin: 0 auto;
}

/*하단 점선*/
#main {
  border-bottom: 1px dashed white;
}
/**/
#content {
}
/*차트 폭 & 차트 밑 점선&차트 하단 여백 설정*/
.box {
  width: 980px;
  border-bottom: 1px dashed #413e3e;
  padding-bottom: 201px;
}
/*"최신 트레일러" & "로그인 / 회원가입" 크기 위치 설정*/
.box .head {
  width: 980px;
  padding-top: 14px;
  padding-bottom: 11px;
}
.box .head h2 {
  float: left;
  display: inline;
}
/*포스터 폭 & 정렬 순서 & 여백 설정*/
.box .movie {
  width: 152px;
  float: left;
  padding-right: 12px;
}
/*잘 모르겠음 근데 필요함 포스터 이미지와 관련됨*/
.movie-image {
  float: left;
  width: 152px;
  height: 214px;
  position: relative;
}
/*잘 모르겠음 근데 필요함 포스터 이미지와 관련됨*/
.movie-image img {
  width: 152px;
  height: 214px;
}
/*잘 모르겠음 근데 필요함 포스터 이미지와 관련됨*/
.movie-image a {
  float: left;
  display: inline;
  width: 152px;
  height: 214px;
  position: relative;
  z-index: 2;
}
/*포스터에 커서 올릴 시 트레일러 재생 표시*/
.play {
  position: absolute;
  top: 0;
  left: 0;
  width: 152px;
  height: 214px;
  background: url('images/image-hover.png');
  display: block;
  z-index: 5;
  cursor: pointer;
  display: none;
}
/*트레일러 재생 표시의 글자 폰트 & 글자 색상 & 글자 크기 & 글자 위치 설정*/
.movie span.name {
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding-top: 160px;
  display: block;
}
.box .last {
  padding: 0;
}
/*평점란 표시 크기 & 위치 & 여백 설정*/
.rating {
  float: left;
  width: 152px;
  padding-top: 8px;
}
/*"평점" 글자 크기 & 위치 & 색상 설정*/
.rating p {
  float: left;
  font-size: 10px;
  color: #fff;
  font-weight: bold;
}
/*평점란 별 위치 & 크기 & 높이 & 이미지 & 여백 설정*/
.rating .stars {
  float: left;
  width: 60px;
  height: 11px;
  background: url('images/stars.gif') no-repeat 0 0;
  margin-left: 2px;
}
/*평점란 별과 관련된 설정 (잘 모름)*/
.rating .stars-in {
  width: 48px;
  display: inline;
  background: url('images/stars.gif') no-repeat 0 bottom;
  position: absolute;
  height: 11px;
  font-size: 0;
  line-height: 0;
  text-indent: -4000px;
}
/*댓글란 이미지 & 위치 & 여백 설정*/
.comments {
  background: url('images/comments.gif') no-repeat 0 center;
  padding-left: 12px;
  float: right;
}
